*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0b0b0bbb;
}

nav{
    padding: 5px 90px;
    /* background-color: black; */
    color: white;
}

nav ul{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

a{
    align-items: baseline;
}

li{
    list-style: none;
    align-items: baseline;
}

li a{
    color: white;
    text-decoration: none;
}

.strock{
    display: flex;
    align-items: baseline;
}

.wed{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-size: 40px;
    font-family: fantasy;
}

.me{
    color: goldenrod;
}

.man{
    display: flex;

}

.mariam{
    color: white;
    padding-left: 50px;
    padding-top: 50px;
}

.mariam h1{
    font-size: 25px;
    padding-bottom: 30px;
    font-family: fantasy;
}

.mariam p{
    line-height: 50px;
}

.marry{
    color: white;
    padding-top: 109px;
}

.marry p{
    line-height: 50px;
    padding-left: 50px;
}

.awe{
    align-items: baseline;
    display: flex;
}

.sun{
    align-items: baseline;
    display: flex;
}

.gun{
    color: white;
    padding-top: 109px;
    padding-left: 300px;
}

.sun{
    padding-bottom: 30px;
}

.gun h1{
    text-decoration: underline 1px  grey;
    color: goldenrod;
    font-size: 50px;
}

.rat{
    color: goldenrod;
}

.available{
    color: rgba(27, 221, 27, 0.872);
}

.button{
    padding-top: 50px;
    padding-left: 50px;
}

.button button:hover{
    background-color: goldenrod;
}

.button button{
    padding: 20px;
    border: 3px solid goldenrod;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    width: 200px;
    height: 70px;
}

.gate{
    color: white;
    font-size: large;
    font-family: fantasy;
    text-align: center;
}

.sunday{
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.look-1{
    color: white;
    background-color: black;
    border-radius: 5000%;
    border: goldenrod solid 10px;
    padding: 40px;
    width: 170px;
}

.look-2{
    color: white;
    background-color: black;
    border-radius: 5000%;
    border: goldenrod solid 10px;
    padding: 40px;
}

.look-3{
    color: white;
    background-color: black;
    border-radius: 5000%;
    border: goldenrod solid 10px;
    padding: 40px;
}

.look-4{
    color: white;
    background-color: black;
    border-radius: 5000%;
    border: goldenrod solid 10px;
    padding: 40px;
}


.bat{
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.look-1{
    color: white;
    background-color: black;
    border-radius: 5000%;
    border: goldenrod solid 10px;
    padding: 40px;
    width: 170px;
}

.look-2{
    color: white;
    background-color: black;
    border-radius: 5000%;
    border: goldenrod solid 10px;
    padding: 40px;
}

.look-3{
    color: white;
    background-color: black;
    border-radius: 5000%;
    border: goldenrod solid 10px;
    padding: 40px;
}

.look-4{
    color: white;
    background-color: black;
    border-radius: 5000%;
    border: goldenrod solid 10px;
    padding: 40px;
}

.mom{
    color: white;
    font-size: large;
    font-family: fantasy;
    padding-top: 8%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon{
    padding-top: 50px;
    padding-left: 50px;
    color: white;
    display: flex;
}

.icon p{
    color: white;
}

.lot{
    padding-top: 70px;
    padding-left: 30px;
}

.lot h4{
    padding-top: 8px;
    padding-bottom: 10px;
}

.top{
    display: flex;
}